<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleOrders.css">
    <title>Document</title>
</head>
<body>
      
   
        <tr>
            <th>Customer</th>
            <th>Telephone</th>
            <th>Address</th>
        </tr>
        <% orders.forEach(element => { %>
        <ol>
            <li><%=element.user.name%></li>
            <li><%=element.user.date%></li>
            <li><%=element.user.address%></li>
            <li><%=element.user.phoneNumber%></li>
            <li><%=element.user.kitchenType%></li>
            <li><%=element.user.length%></li>
            <li><%=element.user.upSide%></li>
        </ol>

    
    
     
     <% }) %>
                              
    
    
</body>
</html>