<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styleOrders.css">
    <title>Document</title>
</head>
<body>
      
   <table>

        <tr>
            <th>Customer</th>
            <th>Telephone</th>
            <th>Address</th>
            <th>kitchenType</th>
            <th>Bottom Length</th>
            <th>Top Length</th>
        </tr>
        <% orders.forEach(element => { %>
            <tr>
                <td><%=element.user.name%></td>
                <td><%=element.user.phoneNumber%></td>
                <td><%=element.user.address%></td>
                <td><%=element.user.kitchenType%></td>
                <td><%=element.user.bottomLength%></td>
                <td><%=element.user.topLength%></td>
            </tr>
            <% }) %>

    </table>
                              
    
    
</body>
</html>